/* general */
:root {
  --main-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --white-text-color: #ffffff;
  --accent-color: #404bbf;
  --dark-bg-color: #2e2f42;
  --white-bg-color: #ffffff;
  --footer-text-color: #f4f4fd;
  --team-bg-layer: #f4f4fd;
}
/*general for pages*/

body {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-text-color);
  background-color: var(--white-bg-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* cancel points for list*/
.list {
  list-style: none;
}
/* cancel underline for links*/
.link {
  text-decoration: none;
}

/*general cancel for margin and padding*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.logo {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-black {
  color: var(--main-text-color);
}

/* COMPONENTS */

.hero-btn {
  font-family: 'Roboto', sans-serif;
  color: var(--white, #ffffff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  background-color: var(--iris, #4d5ae5);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean, #404bbf);
}

.porfolio-btn {
  font-family: 'Roboto', sans-serif;
  color: var(--iris, #4d5ae5);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  background-color: var(--footer-text-color);
}

.porfolio-btn:hover,
.porfolio-btn:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

/* HEADER */

.nav-flex {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-left: 74px;
}

.menu-link {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  font-weight: 500;
  color: var(--main-text-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact {
  margin-left: auto;
}

.contact-item  {
  margin-left: 40px;
}


.menu-item:not(:last-child) {
  margin-right: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact,
.contact-link {
  color: var(--secondary-text-color);
  font-style: normal;
}
.current {
  color: var(--accent-color);
}

/* HERO */

.hero {
  background: var(--dark-bg-color);
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}

/*  FEATURE SECTION  */

.feature-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--dark-bg-color);
}

.feature-text {
  color: var(--secondary-text-color);
}

/* Whar are we doing section */

.work-title {
  color: var(--main-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-title {
  color: var(--main-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* TEAM  */

.team {
  background-color: var(--team-bg-layer);
}

.team-card {
  background-color: var(--white-bg-color);
}

.team-name {
  color: var(--main-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/*  FOOTER  */

.footer {
  background: var(--dark-bg-color);
}

.logo-white {
  color: var(--footer-text-color);
}

.footer-text {
  color: var(--footer-text-color);
}

/*  PORTFOLIO  */

.portfolio-link {
  text-decoration: none;
}

.portfolio-list-title {
  color: var(--main-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.portfolio-list-text {
  color: var(--secondary-text-color);
}
