:root {
  --main-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --white-text-color: #fff;
  --accent-color: #404bbf;
  --dark-bg-color: #2e2f42;
  --white-bg-color: #fff;
  --footer-text-color: #f4f4fd;
  --team-bg-layer: #f4f4fd;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
  background-color: var(--white-bg-color) ;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.logo {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-black {
  color: var(--main-text-color);
}

/* COMPONENTS */

.hero-btn {
    font-family: "Roboto", sans-serif;
    color: var(--white, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    background-color: var(--iris, #4d5ae5);
  }
  .hero-btn:hover,
  .hero-btn:focus {
    background-color: var(--ocean, #404bbf);
  }

.porfolio-btn {
    font-family: "Roboto", sans-serif;
    color: var(--iris, #4d5ae5);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    background-color: var(--footer-text-color);
  }
  
  .porfolio-btn:hover,
  .porfolio-btn:focus {
      color: var(--white-text-color);
      background-color:var(--accent-color);
  }

/* HEADER */

.menu-link {
  font-weight: 500;
  color: var(--main-text-color);

}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-link {
  color: var(--secondary-text-color);
  font-style: normal;
}

/* HERO */

.hero {
  background: var(--dark-bg-color);
}

.hero-title {
  color: var(--white-text-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}

/*  FEATURE SECTION  */

.feature-titel {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.feature-text {
  color: var(--secondary-text-color);
}

/* Whar are we doing section */

.work-titel,
.team-titel {
color: var(--main-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* TEAM  */

.team {
  background: var(--team-bg-layer);
}

.team-name {
color: var(--main-text-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.team-position {
  text-align: center;
}

/*  FOOTER  */

.footer {
  background: var(--dark-bg-color);
}

.logo-white {
  color: var(--footer-text-color);
}

.footer-text {
  color: var(--footer-text-color);
}

/*  PORTFOLIO  */

.portfolio-list-title {
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 500;
    line-height:1.2;
    letter-spacing: 0.4px;
}

.porfolio-list-text {
    color: var(--secondary-text-color);
}